.App {
  text-align: center;
  margin: auto;
  width: 80%;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.container{
  border:2px solid;
  border-color:black ;
  border-radius:20px;
  background-color: rgb(229, 240, 241);
  margin-top: 80px;
}
.btn{
  height :40px;
  width: 70px;
  margin:30px;
  border: 2px solid black;
  border-radius: 8px;
  background-color: rgb(214, 214, 214);
font-size: larger;
}
.input{
  height :30px;
  width:200px; 
  padding: 2px;
  padding-left: 4px;
  border: 2px solid black;
  border-radius: 8px;
  background-color: rgb(240, 248, 168);
  font-size: larger;

}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
